<!-- STRIPE -->
<br/>
<div class="row">
  <%# if current_user.patient_profile.customer_id.present? && current_user.patient_profile.stripe_card %>
    <div class="col-md-12">
      <h4 class="title gray">Your Billing Information</h4>
      <address>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-5">
            Name on Card:
          </div>
          <div class="col-md-3 col-sm-9 col-xs-7">
            <strong><%= current_user.name %></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-5">
            Card Type:
          </div>
          <div class="col-md-3 col-sm-9 col-xs-7">
            <strong><%#= current_user.patient_profile.stripe_card.brand.upcase if current_user.patient_profile.stripe_card %></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-5">
            Card Number:
          </div>
          <div class="col-md-3 col-sm-9 col-xs-7">
            <strong>XXXX-XXXX-XXXX-<%#= current_user.patient_profile.last_4_digits %></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-5">
            Exp. Date:
          </div>
          <div class="col-md-3 col-sm-9 col-xs-7">
            <strong><%#= "#{current_user.patient_profile.stripe_card.exp_month}/#{current_user.patient_profile.stripe_card.exp_year}" if current_user.patient_profile.stripe_card %></strong>
          </div>
        </div>
      </address>
    </div>
  <%# end %>
</div>
