<div class="wrapper wrapper-content">
  <div class="ibox">
    <div class="ibox-title">
      <div class="row">
        <div class="col-sm-8">
          <h2>PATIENTS</h2>
        </div>
        <div class="col-sm-4">
          <div class="ibox-tools">
            <a href="" class="btn btn-primary btn-xs">New Patient</a>
          </div>
        </div>
      </div>
    </div>
    <div id="content-wrapper">
      <%= render 'patients/index/content' %>
    </div>
  </div>
</div>
