<ul class="nav navbar-top-links navbar-right">
    <li>
      <%= link_to raw("Join as Health Professional"), new_user_session_path(professional: true) %>
    </li>
    <li>
      <%= link_to raw("<i class='fa fa-sign-in'></i> Log in"), new_user_session_path %>
    </li>
</ul>
